.DS_Store
.idea/
.vscode/
*.swp
*.swo
.history/
*.log
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

android/gradle/wrapper/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
**/android/app/build/
**/android/app/release/


ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/build/

coverage/
*.hive
*.lock
test/hive_db/